In [1]:
# generic packages
from datetime import datetime, timedelta

# data science packages
import numpy as np
import pandas as pd
from sklearn.metrics import *
from tqdm import tqdm

# visualization packages
from plotnine import *
from IPython.display import HTML

def PerGroupCount(df, keys, alias='cnt', pct = None):
    tmpDF = df.groupby(keys).size().reset_index().rename(columns={0:alias})
    if pct is not None:
        tmpDF[pct] = tmpDF[alias] / np.sum(tmpDF[alias])
    
    return tmpDF

# Load Data & Fix Columns

In [2]:
dataDF = pd.read_csv("/Users/ragrawal/Desktop/takehome_data.tsv", sep="\t", na_values='NaN')

/usr/local/anaconda3/envs/handbook/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (30,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
dataDF['id'] = range(dataDF.shape[0])
dataDF['ts'] = dataDF.ts_search.apply(lambda x: datetime.strptime(x, "%m/%d/%y %H:%M").timestamp())
dataDF['listing_property_type'] = dataDF['listing_property_type'].astype('str')
dataDF['listing_instant_bookable'] = dataDF['listing_instant_bookable'].astype('int')

In [45]:
# convert labels into numeric ordered nomial targets
dataDF.loc[dataDF.label == 'impression', 'OrdinalTarget'] = 1
dataDF.loc[dataDF.label == 'click', 'OrdinalTarget'] = 2
dataDF.loc[dataDF.label == 'host_contact', 'OrdinalTarget'] = 3
dataDF.loc[dataDF.label == 'book', 'OrdinalTarget'] = 4

(array([-122.7 , -122.68, -104.97,  -99.15,  -98.06,  -86.18,  -82.36,
         -80.48,  -80.12,  -79.93,  -79.4 ,  -79.32,  -77.06,  -75.72,
         -75.7 ,  -75.59,  -75.57,  -75.56,  -75.53,  -75.19,  -75.16,
         -74.92,  -74.85,  -74.84,  -74.83,  -74.82,  -74.81,  -74.53,
         -74.44,  -74.06,  -74.01,  -74.  ,  -73.99,  -73.98,  -73.96,
         -73.24,  -73.22,  -72.97,  -72.6 ,  -71.55,  -71.54,  -71.29,
         -71.08,  -68.42,  -68.38,  -65.02,  -63.22,  -61.11,  -60.71,
         -60.09,  -60.  ,  -58.42,  -57.54,  -56.18,  -56.12,  -55.03,
         -54.97,  -54.96,  -54.95,  -54.94,  -54.93,  -54.92,  -54.79,
         -54.67,  -54.63,  -54.18,  -53.09,  -51.93,  -51.91,  -51.81,
         -51.72,  -51.25,  -51.23,  -51.22,  -51.21,  -51.19,  -51.18,
         -51.17,  -51.16,  -51.04,  -50.89,  -50.88,  -50.85,  -50.42,
         -50.3 ,  -50.19,  -50.17,  -50.16,  -50.02,  -49.98,  -49.97,
         -49.95,  -49.73,  -49.72,  -49.68,  -49.4 ,  -49.39,  -49.38,
         -49.37,  -49.35,  -49.33,  -49.31,  -49.3 ,  -49.29,  -49.28,
         -49.27,  -49.26,  -49.25,  -49.24,  -49.23,  -49.22,  -49.2 ,
         -49.18,  -49.15,  -49.13,  -49.12,  -49.1 ,  -49.09,  -49.08,
         -49.07,  -49.06,  -49.05,  -49.01,  -48.94,  -48.93,  -48.92,
         -48.91,  -48.9 ,  -48.89,  -48.88,  -48.86,  -48.85,  -48.84,
         -48.81,  -48.78,  -48.67,  -48.64,  -48.63,  -48.62,  -48.61,
         -48.6 ,  -48.59,  -48.58,  -48.57,  -48.56,  -48.55,  -48.54,
         -48.53,  -48.52,  -48.51,  -48.5 ,  -48.49,  -48.48,  -48.47,
         -48.46,  -48.45,  -48.44,  -48.43,  -48.42,  -48.41,  -48.35,
         -48.34,  -48.26,  -48.22,  -48.17,  -48.14,  -48.12,  -48.08,
         -48.07,  -48.04,  -48.01,  -48.  ,  -47.97,  -47.95,  -47.93,
         -47.92,  -47.91,  -47.9 ,  -47.89,  -47.88,  -47.87,  -47.85,
         -47.84,  -47.82,  -47.81,  -47.79,  -47.78,  -47.77,  -47.76,
         -47.72,  -47.7 ,  -47.67,  -47.64,  -47.63,  -47.62,  -47.61,
         -47.59,  -47.56,  -47.55,  -47.53,  -47.52,  -47.5 ,  -47.49,
         -47.48,  -47.47,  -47.46,  -47.43,  -47.4 ,  -47.38,  -47.36,
         -47.35,  -47.33,  -47.32,  -47.31,  -47.3 ,  -47.29,  -47.28,
         -47.27,  -47.26,  -47.25,  -47.24,  -47.23,  -47.22,  -47.19,
         -47.18,  -47.17,  -47.16,  -47.15,  -47.14,  -47.13,  -47.12,
         -47.11,  -47.1 ,  -47.09,  -47.08,  -47.07,  -47.06,  -47.05,
         -47.04,  -47.03,  -47.02,  -47.01,  -47.  ,  -46.99,  -46.98,
         -46.97,  -46.96,  -46.95,  -46.94,  -46.93,  -46.92,  -46.91,
         -46.9 ,  -46.89,  -46.88,  -46.87,  -46.86,  -46.85,  -46.84,
         -46.83,  -46.82,  -46.81,  -46.8 ,  -46.79,  -46.78,  -46.77,
         -46.76,  -46.75,  -46.74,  -46.73,  -46.72,  -46.71,  -46.7 ,
         -46.69,  -46.68,  -46.67,  -46.66,  -46.65,  -46.64,  -46.63,
         -46.62,  -46.61,  -46.6 ,  -46.59,  -46.58,  -46.57,  -46.56,
         -46.55,  -46.54,  -46.53,  -46.52,  -46.51,  -46.5 ,  -46.49,
         -46.48,  -46.47,  -46.46,  -46.45,  -46.44,  -46.43,  -46.42,
         -46.41,  -46.4 ,  -46.39,  -46.38,  -46.37,  -46.36,  -46.35,
         -46.34,  -46.33,  -46.32,  -46.31,  -46.3 ,  -46.29,  -46.28,
         -46.27,  -46.26,  -46.25,  -46.24,  -46.23,  -46.22,  -46.21,
         -46.2 ,  -46.19,  -46.18,  -46.17,  -46.16,  -46.15,  -46.14,
         -46.13,  -46.12,  -46.11,  -46.1 ,  -46.08,  -46.07,  -46.06,
         -46.05,  -46.04,  -46.03,  -46.02,  -46.01,  -46.  ,  -45.97,
         -45.96,  -45.95,  -45.94,  -45.93,  -45.92,  -45.9 ,  -45.89,
         -45.88,  -45.87,  -45.86,  -45.85,  -45.84,  -45.83,  -45.82,
         -45.81,  -45.8 ,  -45.75,  -45.74,  -45.73,  -45.72,  -45.7 ,
         -45.69,  -45.68,  -45.67,  -45.66,  -45.65,  -45.64,  -45.63,
         -45.62,  -45.61,  -45.6 ,  -45.59,  -45.58,  -45.57,  -45.56,
         -45.55,  -45.54,  -45.48,  -45.47,  -45.46,  -45.45,  -45.44,
         -45.43,  -45.42,  -45.41,  -45.4 ,  -45.39,  -45.38,  -45.37,
         -45.36,  -45.35,  -45.34,  -45.33,  -45.3 ,  -45.29,  -45.27,
         -45.26,  -45.25,  -45.24,  -45.23,  -45.22,  -45.2 ,  -45.19,
         -45.17,  -45.16,  -45.14,  -45.13,  -45.12,  -45.11,  -45.1 ,
         -45.09,  -45.08,  -45.07,  -45.06,  -45.05,  -45.03,  -45.02,
         -45.01,  -45.  ,  -44.99,  -44.98,  -44.97,  -44.96,  -44.93,
         -44.91,  -44.89,  -44.88,  -44.87,  -44.86,  -44.85,  -44.84,
         -44.83,  -44.81,  -44.8 ,  -44.79,  -44.78,  -44.76,  -44.75,
         -44.74,  -44.73,  -44.72,  -44.71,  -44.7 ,  -44.69,  -44.68,
         -44.65,  -44.64,  -44.63,  -44.62,  -44.61,  -44.6 ,  -44.59,
         -44.58,  -44.57,  -44.56,  -44.55,  -44.54,  -44.53,  -44.52,
         -44.51,  -44.5 ,  -44.45,  -44.44,  -44.43,  -44.4 ,  -44.39,
         -44.36,  -44.35,  -44.34,  -44.33,  -44.32,  -44.31,  -44.3 ,
         -44.29,  -44.28,  -44.27,  -44.26,  -44.25,  -44.24,  -44.23,
         -44.22,  -44.21,  -44.2 ,  -44.19,  -44.18,  -44.17,  -44.16,
         -44.15,  -44.14,  -44.12,  -44.11,  -44.1 ,  -44.09,  -44.08,
         -44.07,  -44.05,  -44.04,  -44.03,  -44.02,  -44.01,  -44.  ,
         -43.99,  -43.98,  -43.97,  -43.96,  -43.95,  -43.94,  -43.93,
         -43.92,  -43.91,  -43.9 ,  -43.89,  -43.88,  -43.87,  -43.86,
         -43.85,  -43.83,  -43.82,  -43.79,  -43.77,  -43.75,  -43.74,
         -43.72,  -43.7 ,  -43.69,  -43.68,  -43.67,  -43.66,  -43.65,
         -43.64,  -43.63,  -43.62,  -43.61,  -43.6 ,  -43.59,  -43.58,
         -43.57,  -43.56,  -43.55,  -43.54,  -43.53,  -43.52,  -43.51,
         -43.5 ,  -43.49,  -43.48,  -43.47,  -43.46,  -43.45,  -43.44,
         -43.43,  -43.42,  -43.41,  -43.4 ,  -43.39,  -43.38,  -43.37,
         -43.36,  -43.35,  -43.34,  -43.33,  -43.32,  -43.31,  -43.3 ,
         -43.29,  -43.28,  -43.27,  -43.26,  -43.25,  -43.24,  -43.23,
         -43.22,  -43.21,  -43.2 ,  -43.19,  -43.18,  -43.17,  -43.16,
         -43.15,  -43.14,  -43.13,  -43.12,  -43.11,  -43.1 ,  -43.09,
         -43.08,  -43.07,  -43.06,  -43.05,  -43.04,  -43.03,  -43.02,
         -43.01,  -43.  ,  -42.99,  -42.98,  -42.97,  -42.96,  -42.95,
         -42.94,  -42.93,  -42.92,  -42.91,  -42.9 ,  -42.89,  -42.88,
         -42.87,  -42.86,  -42.85,  -42.84,  -42.83,  -42.82,  -42.81,
         -42.8 ,  -42.79,  -42.78,  -42.77,  -42.76,  -42.75,  -42.74,
         -42.73,  -42.71,  -42.7 ,  -42.69,  -42.66,  -42.65,  -42.64,
         -42.63,  -42.62,  -42.61,  -42.6 ,  -42.59,  -42.58,  -42.57,
         -42.56,  -42.55,  -42.54,  -42.53,  -42.52,  -42.51,  -42.5 ,
         -42.49,  -42.48,  -42.47,  -42.46,  -42.45,  -42.43,  -42.42,
         -42.41,  -42.4 ,  -42.39,  -42.38,  -42.37,  -42.36,  -42.35,
         -42.34,  -42.33,  -42.32,  -42.31,  -42.3 ,  -42.29,  -42.28,
         -42.27,  -42.26,  -42.25,  -42.24,  -42.23,  -42.22,  -42.21,
         -42.2 ,  -42.18,  -42.17,  -42.16,  -42.15,  -42.13,  -42.12,
         -42.11,  -42.1 ,  -42.09,  -42.08,  -42.07,  -42.06,  -42.05,
         -42.04,  -42.03,  -42.02,  -42.01,  -42.  ,  -41.99,  -41.98,
         -41.97,  -41.96,  -41.95,  -41.94,  -41.93,  -41.92,  -41.91,
         -41.9 ,  -41.89,  -41.88,  -41.87,  -41.81,  -41.8 ,  -41.79,
         -41.78,  -41.77,  -41.75,  -41.73,  -41.35,  -41.34,  -41.33,
         -41.32,  -41.31,  -41.3 ,  -41.29,  -41.11,  -41.08,  -41.05,
         -41.04,  -41.03,  -41.02,  -40.85,  -40.83,  -40.82,  -40.81,
         -40.79,  -40.76,  -40.75,  -40.66,  -40.62,  -40.54,  -40.53,
         -40.51,  -40.5 ,  -40.49,  -40.48,  -40.43,  -40.31,  -40.3 ,
         -40.29,  -40.28,  -40.26,  -40.25,  -40.15,  -40.1 ,  -40.08,
         -39.76,  -39.75,  -39.71,  -39.65,  -39.4 ,  -39.32,  -39.23,
         -39.19,  -39.15,  -39.13,  -39.12,  -39.11,  -39.1 ,  -39.07,
         -39.04,  -39.02,  -39.01,  -38.98,  -38.93,  -38.92,  -38.91,
         -38.53,  -38.48,  -38.39,  -38.01,  -37.06,  -35.9 ,  -35.6 ,
         -35.18,  -35.05,  -34.9 ,  -34.89,  -34.88,  -34.84,  -34.83,
         -31.11,  -25.09,  -25.02,  -24.99,  -23.52,  -22.9 ,  -19.3 ,
         -17.47,  -17.03,  -15.92,  -15.8 ,  -15.74,   -8.76,   -8.62,
          -8.61,   -8.34,   -7.65,    1.84,    2.65,    2.86,    3.45,
           6.13,    8.02,    8.8 ,   10.41,   11.25,   13.84,   14.22,
          14.45,   15.29,   18.32,   18.42,   23.04,   31.14,   36.72]),
 array([    1,     1,     1,     1,     1,     1,     1,     1,     2,
            1,     1,     1,     1,     1,     1,     1,     4,     9,
            1,     1,     1,     1,     1,     2,     1,     3,     1,
            1,     1,     1,     1,     2,     4,     3,     1,     2,
            1,     1,     1,     1,     1,     1,     2,     1,     1,
            1,     1,     1,     1,     1,     1,     1,     2,     1,
            1,     1,     1,     1,     1,     3,     3,     1,     1,
            2,     1,     3,     1,     1,     1,     1,     1,     2,
            2,     3,     1,     2,     1,     8,     3,     1,     2,
            1,     3,     1,     2,     1,     1,     1,     1,     2,
            1,     2,     2,     4,     1,     1,     7,     4,     3,
            1,     1,     2,     1,     5,     9,     1,     5,     3,
            1,     4,     2,     5,     1,     1,     6,     1,     1,
            4,     1,     2,     3,     1,     1,     3,     1,     2,
            6,    11,     1,     1,     1,     2,     1,     1,     1,
            2,     5,     6,     1,     6,     5,     5,     3,     2,
            1,     1,     2,     1,     1,     1,     3,     3,     4,
            6,     3,     4,     2,     1,     1,     2,     1,     1,
            1,     2,     1,     1,     1,     1,     2,     3,     1,
            3,     1,     1,     1,     7,     2,     3,     1,     1,
            7,     3,     1,     7,    16,    23,     1,     1,     1,
            1,     6,     1,     1,     2,     2,     1,     2,     4,
            1,     1,     1,     3,     3,     4,     2,     8,     1,
            2,     2,     1,     3,     3,     3,     3,     8,     5,
            2,     1,     6,    16,     4,    16,     7,     9,    29,
            5,     2,     1,     5,     4,     7,     7,     4,     5,
            6,     9,    37,    17,    12,     8,    17,     8,    14,
           21,    16,    30,     7,     7,     4,     3,    18,    15,
           12,    45,    50,    45,    92,    99,    81,    78,    31,
           13,    10,    11,    36,    97,   121,   246,   427,   653,
          777,   900,  2039,  3610,  4964,  3193,  5769,  8078,  5824,
         1530,   722,   533,   348,   182,   149,   142,   190,   132,
          193,   111,    91,    83,    58,    29,    34,    23,    46,
           30,    19,    18,    30,    13,    19,     8,    27,    32,
            8,    19,    24,    29,    13,    16,     7,     7,     8,
           24,    47,    17,    43,    47,    12,    18,    44,    21,
           23,     5,     2,     2,     3,    11,    20,     2,     6,
            1,     4,     5,    24,    13,    44,    40,    11,     8,
            1,    23,    14,     3,     2,     4,     5,    11,     3,
            5,    23,     7,     5,     1,     1,     1,     1,     4,
            6,    11,     2,    14,     1,     3,     5,    14,    13,
            7,     9,    20,    14,    34,     3,    44,    11,    59,
            7,    19,     1,     1,     4,    29,     8,     7,     7,
           11,    10,    14,    19,    16,    30,    31,     6,    16,
            1,     1,     1,     1,     3,     1,     4,     1,     5,
            2,     4,     8,     4,     5,     4,     6,     7,     1,
            8,    13,     7,    31,     1,     1,     6,     1,    11,
           16,     8,    33,     1,     1,    10,     2,     2,     1,
            1,     8,     1,     8,     2,     7,     6,     4,     2,
           12,    54,    88,    65,     5,    37,     3,     2,     2,
            1,     4,     3,     3,    10,     5,     2,     2,     2,
           11,     9,     6,     5,     1,     9,     2,     2,     2,
           12,     6,    11,    12,    12,    11,     8,    57,     4,
            2,    20,    28,     6,    34,    12,    17,     8,    20,
            5,    20,    80,    63,    17,     7,     1,     2,     2,
            2,     1,     3,     1,     4,     5,     3,     2,    21,
            1,     2,     2,     3,     3,     9,     6,     1,     6,
            6,     3,     5,     1,     1,     1,     2,     1,     1,
            3,     4,     6,     4,     2,     7,     8,     3,     1,
           13,    22,    17,    10,     6,     7,    12,    13,    74,
           74,    57,    41,    27,    42,   107,    98,   365,   339,
          480,   392,   392,   328,   341,   582,   831,   861,  1318,
          609,   734,  1116,  1085,   857,  1696,  1246,  1119,   735,
          307,   218,   496,   524,   712,  1958,  4122,  6591,  6219,
        15544, 43717, 23837,  6408,   343,    31,    22,   162,   534,
          603,   311,   211,    76,   135,   160,   105,   145,   292,
           85,    63,    28,    66,   109,    15,    45,     6,    14,
           37,     9,     9,     2,    22,    20,     8,    20,     7,
           17,     1,    25,    11,    18,     4,     4,     8,    10,
           11,     8,     2,     1,    10,     4,     3,    11,     5,
           13,     7,    12,    14,    15,     4,     1,    16,    11,
           19,    60,    29,    31,     8,     9,    40,    49,    12,
            5,     4,     7,     4,     2,     2,     1,     2,     1,
           11,     6,    30,    60,     8,    12,     9,     4,     7,
           10,     3,     7,     9,     6,     3,     4,     9,     6,
           10,     5,    19,     7,    13,     9,     4,     2,     2,
            4,    16,    30,   225,    75,    25,    37,    18,     9,
           15,    17,    28,    50,    21,    19,    36,    59,    39,
           37,     4,     2,    10,     2,    12,     1,     1,     2,
            1,     3,     3,     2,     1,     4,     1,     1,     2,
            1,     1,     4,     2,     1,     2,     1,     1,     1,
            1,     1,     2,     1,     1,     2,     1,     5,     5,
            3,     1,     1,     2,     3,     3,     3,     1,     1,
            1,     1,     1,     1,     2,     1,     1,     1,     2,
            1,     1,     1,     1,     2,     2,     3,     4,     1,
            1,     1,     1,     4,     4,     6,     1,     1,     1,
            1,     1,     1,     1,     1,     2,     3,     2,     1,
            1,     1,     1,     1,     3,     1,     1,     1,     1,
            1,     1,     1,     1,     1,     1,     1,     1,     1,
            1,     1,     1,     1,     1,     1,     1,     1,     1,
            1,     1,     1,     1,     1,     1,     1,     1,     1]))

# Split Data into Training, Validation and test Dataset

In [5]:
print("Number of Searches: {:,}".format(dataDF['id_search'].nunique()))
print("Number of Listings: {:,}".format(dataDF['id_listing'].nunique()))

searchDF = PerGroupCount(dataDF, 'id_search', 'NumResults')

display(HTML("<strong>Distribution of Number of Results Per Search </strong>"))
display(searchDF.NumResults.describe())
resultSizeDF = PerGroupCount(searchDF, 'NumResults', 'NumSearches', pct='PctSearches')

resultSizeDF['NumDataPoints'] = resultSizeDF.NumSearches * resultSizeDF.NumResults 
resultSizeDF['PctDataPoints'] =  resultSizeDF.NumDataPoints / np.sum(resultSizeDF.NumDataPoints)

display(HTML("<strong>Number of Searches and Data Points By Number of Results Per Search</strong>"))
resultSizeDF.sort_values('NumResults').head(5).style.format({
    'NumSearches': '{:,}', 
    'PctSearhes': '{:.2%}', 
    'NumDataPoints': '{:,}',
    'PctDataPoints': '{:.2%}'
})

Number of Searches: 60,815
Number of Listings: 30,960

count    60815.000000
mean         2.920135
std          2.319170
min          1.000000
25%          1.000000
50%          2.000000
75%          4.000000
max         18.000000
Name: NumResults, dtype: float64

In [6]:
# Divide Into Train, Validation and test dataset. Use searches with a single result for training but not for validation and testing
import random

def train_validation_test_assignment(num_results):
    if num_results == 1:
        return 'TRAIN'
    
    rnd = random.random()
    if rnd < 0.7:
        return 'TRAIN'
    elif rnd < 0.85:
        return 'VALIDATION'
    
    return 'TEST'

# Assign searches to train, validation and test set. 
searchDF['assignment'] = searchDF.NumResults.apply(train_validation_test_assignment)

display(HTML("<strong>Distribution of Searches by datasets</strong>"))
display(PerGroupCount(searchDF, 'assignment', alias='NumSearches', pct='PerSearches').style.format({
    'NumSearches': '{:,}'
    , 'PerSearches': '{:.2%}'
}))


# Transfer assignment from searches to original dataset
dataDF = dataDF.merge(searchDF[['id_search', 'assignment']], on='id_search')

display(HTML("<strong>Distribution of Data Points by datasets</strong>"))
display(PerGroupCount(dataDF, 'assignment', alias='NumDataPoints', pct='PerDataPoints').style.format({
    'NumDataPoints': '{:,}'
    , 'PerDataPoints': '{:.2%}'
}))

In [7]:
# distribution will be definitely skewed for training dataset due to single searches but it should be relatively same for validation and test dataset
PerGroupCount(dataDF, ['assignment', 'label'], pct='pct').pivot(index='assignment', columns='label', values='pct').style.format("{:.2%}")

# Imput Values

## Idnetify Columns With Missing Values

In [8]:
# For numeric columns, impute missing values
tmpDF = dataDF._get_numeric_data().isnull().sum(axis=0).reset_index().rename(columns={0: 'NumMissing', 'index': 'Columns'})
tmpDF['PctMissing'] = tmpDF.NumMissing / dataDF.shape[0]
tmpDF[tmpDF.NumMissing > 0].sort_values('PctMissing', ascending=False).style.format({
    'NumMissing': '{:,}'
    , 'PctMissing': '{:.2%}'
})

## Imput Listing Related Missing Columns

In [9]:
impute_columns = list(tmpDF[tmpDF.NumMissing > 0]['Columns'])


# Pickup temporally closest impression value
dataDF3 = dataDF.copy().sort_values('ts')

In [10]:
for c in tqdm(impute_columns):
    dataDF3[c].fillna(
        # impute from leading or lagging rows
        dataDF3.groupby('id_listing')[c].transform(
            lambda x: x.fillna(method='ffill').fillna(method='bfill')
        ), inplace=True
    )
    
    # impute based on market
    dataDF3[c].fillna(
        dataDF3.groupby('query_market')[c].transform(lambda x: x.fillna(x.mean()))
        , inplace=True
    )

100%|██████████| 11/11 [02:11<00:00, 11.99s/it]

In [11]:
d1 = dataDF[impute_columns].isnull().sum(axis=0).to_dict()
d2 = dataDF3[impute_columns].isnull().sum(axis=0).to_dict()
for k, v1 in d1.items():
    print("{}: {} --> {}".format(k, v1, d2[k]))

listing_total_price: 9021 --> 0
listing_review_rating: 21382 --> 0
listing_review_count: 17533 --> 0
listing_num_beds: 9050 --> 0
listing_num_bedrooms: 9034 --> 0
listing_num_books_90day: 24800 --> 0
listing_occupancy_rate: 10877 --> 0
listing_cleaning_fee: 45052 --> 0
listing_weekly_price_factor: 44878 --> 0
listing_minimum_nights: 204 --> 0
listing_maximum_nights: 204 --> 0

In [12]:
display(dataDF[impute_columns].describe().reset_index())
display(dataDF3[impute_columns].describe().reset_index())

,index,listing_total_price,listing_review_rating,listing_review_count,listing_num_beds,listing_num_bedrooms,listing_num_books_90day,listing_occupancy_rate,listing_cleaning_fee,listing_weekly_price_factor,listing_minimum_nights,listing_maximum_nights
0,count,168567.000000,156206.000000,160055.000000,168538.000000,168554.000000,152788.000000,166711.000000,132536.000000,132710.000000,177384.000000,1.773840e+05
1,mean,713.949730,3.427163,22.496011,2.730215,1.481270,5.561706,0.291604,34.065622,0.916508,2.322504,6.389164e+04
2,std,2452.305204,2.151037,37.996714,2.570056,1.162265,7.454406,0.310912,28.688179,0.074967,2.723676,8.564242e+06
3,min,7.731437,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.130000,1.000000,1.000000e+00
4,25%,135.936390,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,18.542898,0.890000,1.000000,6.000000e+01
5,50%,307.728880,4.720000,6.000000,2.000000,1.000000,2.000000,0.181818,32.653786,0.920000,2.000000,1.125000e+03
6,75%,700.000000,4.937500,28.000000,3.000000,2.000000,9.000000,0.557047,41.796850,0.980000,3.000000,1.125000e+03
7,max,525960.060000,5.000000,462.000000,50.000000,50.000000,64.000000,1.000000,799.626830,1.000000,180.000000,2.000000e+09

,index,listing_total_price,listing_review_rating,listing_review_count,listing_num_beds,listing_num_bedrooms,listing_num_books_90day,listing_occupancy_rate,listing_cleaning_fee,listing_weekly_price_factor,listing_minimum_nights,listing_maximum_nights
0,count,177588.000000,177588.000000,177588.000000,177588.000000,177588.000000,177588.000000,177588.000000,177588.000000,177588.000000,177588.000000,1.775880e+05
1,mean,713.174283,3.424911,22.514914,2.729784,1.480814,5.560400,0.290293,33.977936,0.915794,2.322430,6.383755e+04
2,std,2428.110977,2.065813,36.775270,2.567979,1.160495,7.218551,0.301714,24.973423,0.066645,2.722488,8.559322e+06
3,min,7.731437,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.130000,1.000000,1.000000e+00
4,25%,136.746218,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,24.935040,0.900000,1.000000,6.000000e+01
5,50%,309.261005,4.666666,7.000000,2.000000,1.000000,3.000000,0.230769,36.969736,0.913475,2.000000,1.125000e+03
6,75%,704.584100,4.920000,25.000000,3.000000,2.000000,8.000000,0.536585,39.734783,0.950000,3.000000,1.125000e+03
7,max,525960.060000,5.000000,462.000000,50.000000,50.000000,64.000000,1.000000,799.626830,1.000000,180.000000,2.000000e+09

In [13]:

idx = random.randint(0, dataDF.shape[0])
d1 = dataDF[dataDF.id == idx].to_dict(orient='records')[0]
d2 = dataDF3[dataDF3.id == idx].to_dict(orient='records')[0]
print(d1['id_listing'])
print(d1['ts'])
for k, v1 in d1.items():
    if k in impute_columns:
        print("{}: {} --> {}".format(k, v1, d2[k]))

5082b3fd0bba5ebb8ca952572c5d9846
1543292700.0
listing_total_price: 132.44359 --> 132.44359
listing_review_rating: 4.8 --> 4.8
listing_review_count: nan --> 5.0
listing_num_beds: 1.0 --> 1.0
listing_num_bedrooms: 1.0 --> 1.0
listing_num_books_90day: 14.0 --> 14.0
listing_occupancy_rate: 0.9074074000000001 --> 0.9074074000000001
listing_cleaning_fee: 25.8618 --> 25.8618
listing_weekly_price_factor: 1.0 --> 1.0
listing_minimum_nights: 2.0 --> 2.0
listing_maximum_nights: 1125.0 --> 1125.0

In [14]:
FEATURES = [
    'query_num_guests'
    , 'query_num_children'
    , 'query_num_infants'
#    , 'query_radius'
    , 'query_price_max'
    , 'query_price_min'
#    , 'query_center_lat'
#    , 'query_center_lng'
    , 'listing_is_new'
#    , 'listing_total_price'
#    , 'listing_instant_bookable'
#    , 'listing_lat'
#    , 'listing_lng'
    , 'listing_review_rating'
    , 'listing_review_count'
    , 'listing_property_type'
    , 'listing_num_beds'
    , 'listing_num_bedrooms'
    , 'listing_person_capacity'
    , 'listing_num_recent_reservations'
    , 'listing_location_rating'
    , 'listing_cleanliness_rating'
    , 'listing_checkin_rating'
    , 'listing_value_rating'
    , 'listing_communication_rating'
    , 'listing_accuracy_rating'
    , 'listing_num_books_90day'
    , 'listing_occupancy_rate'
    , 'listing_monthly_discount'
    , 'listing_weekly_discount'
    , 'listing_cleaning_fee'
    , 'listing_weekly_price_factor'
    , 'listing_minimum_nights'
    , 'listing_maximum_nights'
]

# Train Ordinary Logistic Regression Model

In [17]:
dataDF3[(dataDF3.assignment == 'TRAIN')][FEATURES].isnull().sum(axis=0)

query_num_guests                   0
query_num_children                 0
query_num_infants                  0
query_price_max                    0
query_price_min                    0
listing_is_new                     0
listing_review_rating              0
listing_review_count               0
listing_property_type              0
listing_num_beds                   0
listing_num_bedrooms               0
listing_person_capacity            0
listing_num_recent_reservations    0
listing_location_rating            0
listing_cleanliness_rating         0
listing_checkin_rating             0
listing_value_rating               0
listing_communication_rating       0
listing_accuracy_rating            0
listing_num_books_90day            0
listing_occupancy_rate             0
listing_monthly_discount           0
listing_weekly_discount            0
listing_cleaning_fee               0
listing_weekly_price_factor        0
listing_minimum_nights             0
listing_maximum_nights             0
dtype: int64

In [82]:
import mord
from sklearn import linear_model, metrics, preprocessing
from sklearn.utils import resample


# X = dataDF3[(dataDF3.assignment == 'TRAIN')][FEATURES]._get_numeric_data()
PerGroupCount(dataDF3[(dataDF3.assignment == 'TRAIN')], 'OrdinalTarget')

samples = []
n_samples = 10000
for target, df in dataDF3[(dataDF3.assignment == 'TRAIN')].groupby('OrdinalTarget'):
    samples.append(resample(df, n_samples=n_samples, replace=df.shape[0] < n_samples))

trainDF = pd.concat(samples, axis=0)
PerGroupCount(trainDF, 'OrdinalTarget')

   OrdinalTarget    cnt
0            1.0  10000
1            2.0  10000
2            3.0  10000
3            4.0  10000

In [81]:
X = trainDF[FEATURES]._get_numeric_data()
y = trainDF.OrdinalTarget.astype('int')

# clf = mord.LogisticAT(alpha=1.0)
clf = linear_model.LogisticRegression(
    solver='lbfgs',
    multi_class='multinomial')
clf.fit(X, y)

predicted = clf.predict(dataDF3[(dataDF3.assignment == 'VALIDATION')][FEATURES]._get_numeric_data())
np.unique(predicted, return_counts=True)

(array([1, 2]), array([  255, 22684]))

(array([1, 2]), array([    7, 22932]))

In [44]:
np.unique(dataDF3[(dataDF3.assignment == 'TRAIN')].OrdinalTarget, return_counts=True)

(array([1., 2., 3., 4.]), array([96264, 30714,  2266,  1623]))

In [ ]:
print('Mean Absolute Error of LogisticRegression: %s' %
      metrics.mean_absolute_error(clf1.predict(X), y))

clf2 = mord.LogisticAT(alpha=1.)
clf2.fit(X, y)
print('Mean Absolute Error of LogisticAT %s' %
      metrics.mean_absolute_error(clf2.predict(X), y))

clf3 = mord.LogisticIT(alpha=1.)
clf3.fit(X, y)
print('Mean Absolute Error of LogisticIT %s' %
      metrics.mean_absolute_error(clf3.predict(X), y))

clf4 = mord.LogisticSE(alpha=1.)
clf4.fit(X, y)
print('Mean Absolute Error of LogisticSE %s' %
      metrics.mean_absolute_error(clf4.predict(X), y))

# Determine if listing records are same across all searches

In [ ]:
# determine listings that appear max times
max_appeared = PerGroupCount(dataDF, 'id_listing').sort_values('cnt', ascending=False)['id_listing'].values[0]
print(dataDF[dataDF.id_listing == max_appeared]
      .sort_values('ts_search').to_csv(index=False))

In [ ]:
numPoints = dataDF.shape[0]
trainDF, validateDF, testDF = np.split(df.sample(frac=1), [int(.7 * numPoints), int(.85id * numPoints)])

print("Train: {:,} ({:.2%})".format(trainDF.shape[0], trainDF.shape[0] / numPoints))
print("validation: {:,} ({:.2%})".format(validateDF.shape[0], validateDF.shape[0] / numPoints))
print("Test: {:,} ({:.2%})".format(testDF.shape[0], testDF.shape[0] / numPoints))

# Analyze Training Data

In [ ]:

print("Columns:")
for c in dataDF.columns:
    print(c)

In [ ]:
categoricalVariables = [
    'listing_is_new'
    , 'listing_has_pro_pictures'
]

In [ ]:
dataDF.describe()

# Notes

* Comparing distribution of feature before and after impute value helped identified a bug when imputing price factor. Since I copied and pasted the code, some of the variables didn't change from listing_cleaning_fee to listing_weekly_price_factor

In [ ]:
data = [
    ['A', 1, None],
    ['A', 1, 1],
    ['A', None, 1],
    ['B', None, 2],
    ['B', None, 2],
    ['B', 2, 3],
]
df = pd.DataFrame(data, columns=['id_listing', 'cleaning_fee', 'cleaning_fee2'])
df

In [ ]:
col = ['cleaning_fee', 'cleaning_fee2']
for c in col:
    df[c].fillna(
        df.groupby('id_listing')[c].transform(lambda x: x.fillna(x.mean()))
        , inplace=True
    )

df

In [ ]:
df