In [1]:
import pandas as pd

In [2]:
data = ['a -> b -> c', 'a -> c', 'a -> b', 'a -> d']
data = pd.DataFrame({
    'events': data,
    'id': range(1, len(data) + 1)
})

In [3]:
def event_parser(x):
    output = set()
    tokens = [y.strip() for y in x.split('->')]
    source = tokens.pop(0)
    while len(tokens) > 0:
        target = tokens.pop(0)
        output.add((source, target))
        source = target
    return list(output)

df = pd.DataFrame(
    [j for i in data.events.apply(event_parser).values.tolist() for j in i],
    columns=['source', 'target']
)

pd.merge(
    df.groupby(['source', 'target']).size().reset_index().rename(columns={0:'tcnt'}),
    df.groupby('source').size().reset_index().rename(columns={0:'scnt'}),
    on='source',
    how='left'
).assign(
    prob = lambda x: x.tcnt * 1.0 / x.scnt
)

  source target  tcnt  scnt  prob
0      a      b     2     4  0.50
1      a      c     1     4  0.25
2      a      d     1     4  0.25
3      b      c     1     1  1.00

(4, 3)

In [4]:
np.append(np.array(['a', 'b', 'c']), np.array([None] * (3 - 3)))

NameError: name 'np' is not defined